body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1561px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4428 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:575px;
  width:181px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4428_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u4429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4429 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:665px;
  width:181px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4429_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u4430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4430 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:706px;
  width:37px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4430_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4431 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:613px;
  width:37px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4431_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4432 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:225px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4432_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u4433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4433 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:289px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4433_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u4434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4434 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:353px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4434_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u4435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4435 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:417px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4435_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u4437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:65px;
  background:inherit;
  background-color:rgba(51, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4437 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:32px;
  width:1500px;
  height:65px;
}
#u4437_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4438 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:48px;
  width:253px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4438_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u4439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u4439 {
  border-width:0px;
  position:absolute;
  left:1381px;
  top:55px;
  width:37px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u4439_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:27px;
}
#u4440 {
  border-width:0px;
  position:absolute;
  left:1351px;
  top:50px;
  width:23px;
  height:26px;
}
#u4440_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4441 {
  border-width:0px;
  position:absolute;
  left:1337px;
  top:32px;
  width:94px;
  height:65px;
}
#u4441_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u4442 {
  border-width:0px;
  position:absolute;
  left:1457px;
  top:55px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u4442_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:63px;
  background:inherit;
  background-color:rgba(51, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4443 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:1648px;
  width:1500px;
  height:63px;
}
#u4443_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4444 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:1670px;
  width:540px;
  height:16px;
  color:#FFFFFF;
}
#u4444_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  word-wrap:break-word;
}
#u4445 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:150px;
  width:171px;
  height:659px;
}
#u4445_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:659px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4446 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:3px;
  width:165px;
  height:653px;
}
#u4447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u4447 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u4447_img.mouseDown {
}
#u4447.mouseDown {
}
#u4447_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u4448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u4448 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:165px;
  height:30px;
}
#u4448_img.mouseDown {
}
#u4448.mouseDown {
}
#u4448_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u4449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u4449 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:165px;
  height:30px;
}
#u4449_img.mouseDown {
}
#u4449.mouseDown {
}
#u4449_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u4450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u4450 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:165px;
  height:30px;
}
#u4450_img.mouseDown {
}
#u4450.mouseDown {
}
#u4450_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u4451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u4451 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:165px;
  height:30px;
}
#u4451_img.mouseDown {
}
#u4451.mouseDown {
}
#u4451_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u4452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u4452 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:165px;
  height:30px;
}
#u4452_img.mouseDown {
}
#u4452.mouseDown {
}
#u4452_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u4453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u4453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:165px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u4453_img.mouseDown {
}
#u4453.mouseDown {
}
#u4453_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u4454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:27px;
}
#u4454 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:165px;
  height:27px;
}
#u4454_img.mouseDown {
}
#u4454.mouseDown {
}
#u4454_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:161px;
  word-wrap:break-word;
}
#u4455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u4455 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:237px;
  width:165px;
  height:30px;
}
#u4455_img.mouseDown {
}
#u4455.mouseDown {
}
#u4455_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u4456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:20px;
}
#u4456 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:267px;
  width:165px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u4456_img.mouseDown {
}
#u4456.mouseDown {
}
#u4456_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:161px;
  word-wrap:break-word;
}
#u4457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u4457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:287px;
  width:165px;
  height:30px;
}
#u4457_img.mouseDown {
}
#u4457.mouseDown {
}
#u4457_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u4458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u4458 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:317px;
  width:165px;
  height:30px;
}
#u4458_img.mouseDown {
}
#u4458.mouseDown {
}
#u4458_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u4459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u4459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:347px;
  width:165px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u4459_img.mouseDown {
}
#u4459.mouseDown {
}
#u4459_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u4460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u4460 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:377px;
  width:165px;
  height:30px;
}
#u4460_img.mouseDown {
}
#u4460.mouseDown {
}
#u4460_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u4461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u4461 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:407px;
  width:165px;
  height:30px;
}
#u4461_img.mouseDown {
}
#u4461.mouseDown {
}
#u4461_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u4462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:24px;
}
#u4462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:437px;
  width:165px;
  height:24px;
  text-align:left;
}
#u4462_img.mouseDown {
}
#u4462.mouseDown {
}
#u4462_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:161px;
  word-wrap:break-word;
}
#u4463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:24px;
}
#u4463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:461px;
  width:165px;
  height:24px;
}
#u4463_img.mouseDown {
}
#u4463.mouseDown {
}
#u4463_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:161px;
  word-wrap:break-word;
}
#u4464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:24px;
}
#u4464 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:485px;
  width:165px;
  height:24px;
}
#u4464_img.mouseDown {
}
#u4464.mouseDown {
}
#u4464_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:161px;
  word-wrap:break-word;
}
#u4465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:24px;
}
#u4465 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:509px;
  width:165px;
  height:24px;
}
#u4465_img.mouseDown {
}
#u4465.mouseDown {
}
#u4465_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:161px;
  word-wrap:break-word;
}
#u4466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:24px;
}
#u4466 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:533px;
  width:165px;
  height:24px;
}
#u4466_img.mouseDown {
}
#u4466.mouseDown {
}
#u4466_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:161px;
  word-wrap:break-word;
}
#u4467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:24px;
}
#u4467 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:557px;
  width:165px;
  height:24px;
}
#u4467_img.mouseDown {
}
#u4467.mouseDown {
}
#u4467_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:161px;
  word-wrap:break-word;
}
#u4468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:24px;
}
#u4468 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:581px;
  width:165px;
  height:24px;
}
#u4468_img.mouseDown {
}
#u4468.mouseDown {
}
#u4468_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:161px;
  word-wrap:break-word;
}
#u4469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:24px;
}
#u4469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:605px;
  width:165px;
  height:24px;
}
#u4469_img.mouseDown {
}
#u4469.mouseDown {
}
#u4469_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:161px;
  word-wrap:break-word;
}
#u4470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:24px;
}
#u4470 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:629px;
  width:165px;
  height:24px;
}
#u4470_img.mouseDown {
}
#u4470.mouseDown {
}
#u4470_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:161px;
  word-wrap:break-word;
}
#u4471 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:32px;
  width:300px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4472 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:117px;
  width:171px;
  height:36px;
}
#u4472_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u4473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4473 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:65px;
  width:100px;
  height:23px;
  font-size:12px;
}
#u4473_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u4474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4474 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:65px;
  width:80px;
  height:23px;
  font-size:12px;
}
#u4474_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u4475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4475 {
  border-width:0px;
  position:absolute;
  left:1128px;
  top:65px;
  width:80px;
  height:23px;
  font-size:12px;
}
#u4475_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u4476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4476 {
  border-width:0px;
  position:absolute;
  left:1218px;
  top:65px;
  width:80px;
  height:23px;
  font-size:12px;
}
#u4476_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u4477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4477 {
  border-width:0px;
  position:absolute;
  left:1304px;
  top:67px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u4477_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u4478 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:785px;
  width:215px;
  height:45px;
  font-size:20px;
}
#u4478_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:211px;
  word-wrap:break-word;
}
#u4479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1214px;
  height:44px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4479 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:880px;
  width:1214px;
  height:44px;
}
#u4479_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4480 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:894px;
  width:57px;
  height:16px;
}
#u4480_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4481 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:954px;
  width:1203px;
  height:156px;
}
#u4482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:36px;
}
#u4482 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:36px;
}
#u4482_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:229px;
  word-wrap:break-word;
}
#u4483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u4483 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:0px;
  width:138px;
  height:36px;
}
#u4483_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u4484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:36px;
}
#u4484 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:0px;
  width:353px;
  height:36px;
}
#u4484_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:349px;
  word-wrap:break-word;
}
#u4485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:36px;
}
#u4485 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:0px;
  width:479px;
  height:36px;
}
#u4485_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:475px;
  word-wrap:break-word;
}
#u4486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
}
#u4486 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:233px;
  height:30px;
}
#u4486_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:229px;
  word-wrap:break-word;
}
#u4487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u4487 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:36px;
  width:138px;
  height:30px;
}
#u4487_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  word-wrap:break-word;
}
#u4488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:30px;
}
#u4488 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:36px;
  width:353px;
  height:30px;
}
#u4488_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:349px;
  word-wrap:break-word;
}
#u4489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:30px;
}
#u4489 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:36px;
  width:479px;
  height:30px;
}
#u4489_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:475px;
  word-wrap:break-word;
}
#u4490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
}
#u4490 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:233px;
  height:30px;
}
#u4490_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:229px;
  word-wrap:break-word;
}
#u4491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u4491 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:66px;
  width:138px;
  height:30px;
}
#u4491_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  word-wrap:break-word;
}
#u4492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:30px;
}
#u4492 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:66px;
  width:353px;
  height:30px;
}
#u4492_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:349px;
  word-wrap:break-word;
}
#u4493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:30px;
}
#u4493 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:66px;
  width:479px;
  height:30px;
}
#u4493_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:475px;
  word-wrap:break-word;
}
#u4494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
}
#u4494 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:233px;
  height:30px;
}
#u4494_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:229px;
  word-wrap:break-word;
}
#u4495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u4495 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:96px;
  width:138px;
  height:30px;
}
#u4495_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  word-wrap:break-word;
}
#u4496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:30px;
}
#u4496 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:96px;
  width:353px;
  height:30px;
}
#u4496_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:349px;
  word-wrap:break-word;
}
#u4497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:30px;
}
#u4497 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:96px;
  width:479px;
  height:30px;
}
#u4497_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:475px;
  word-wrap:break-word;
}
#u4498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:30px;
}
#u4498 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:233px;
  height:30px;
}
#u4498_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:229px;
  word-wrap:break-word;
}
#u4499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u4499 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:126px;
  width:138px;
  height:30px;
}
#u4499_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  word-wrap:break-word;
}
#u4500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:30px;
}
#u4500 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:126px;
  width:353px;
  height:30px;
}
#u4500_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:349px;
  word-wrap:break-word;
}
#u4501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:30px;
}
#u4501 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:126px;
  width:479px;
  height:30px;
}
#u4501_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:475px;
  word-wrap:break-word;
}
#u4502 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:890px;
  width:128px;
  height:25px;
}
#u4502_input {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u4503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4503 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:895px;
  width:43px;
  height:16px;
}
#u4503_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4504 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:890px;
  width:151px;
  height:25px;
}
#u4504_input {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4504_input:disabled {
  color:grayText;
}
#u4505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4505 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:164px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4505_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u4506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4506 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:164px;
  width:258px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4506_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  white-space:nowrap;
}
#u4507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4507 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:479px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4507_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u4508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4508 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:225px;
  width:21px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4508_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u4509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4509 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:289px;
  width:31px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4509_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u4510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4510 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:353px;
  width:31px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4510_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u4511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4511 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:417px;
  width:11px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4511_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u4512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4512 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:479px;
  width:114px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4512_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u4513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4513 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:613px;
  width:181px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4513_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u4514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4514 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:613px;
  width:168px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4514_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u4515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4515 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:704px;
  width:168px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4515_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u4516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4516 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:704px;
  width:168px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4516_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u4517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:68px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  line-height:28px;
}
#u4517 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:456px;
  width:414px;
  height:68px;
  line-height:28px;
}
#u4517_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:394px;
  word-wrap:break-word;
}
#u4518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:100px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:14px;
  line-height:28px;
}
#u4518 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:758px;
  width:510px;
  height:100px;
  font-size:14px;
  line-height:28px;
}
#u4518_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:490px;
  word-wrap:break-word;
}
#u4519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:73px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:14px;
  line-height:28px;
}
#u4519 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:1132px;
  width:510px;
  height:73px;
  font-size:14px;
  line-height:28px;
}
#u4519_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:490px;
  word-wrap:break-word;
}
