.stopCharge{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #F4F4F4;
  }
  .title{
    font-size: 30rpx;
    color: #333333;
    padding: 24rpx 30rpx;
    margin: 0;
  }
  .bd{
    font-size: 32rpx;
    color: #999;
  }
  .ft{
    font-size: 32rpx;
    color: #333333;
  }
  .tip{
    img{
      width: 32rpx;
      height: 32rpx;
      vertical-align: middle;
      margin-top: -4rpx;
      margin-left: 4rpx;
    } 
  }
  .subTitle{
    color: #14BF6D;
    font-size: 32rpx;
    text-align: center;
    margin: 54rpx 0;
  }
  .weui-cells:before {
    top: 0;
    border-top: none;
  }
  .weui-cells:after {
    top: 0;
    border-bottom: none;
  }
  .btn{
    width: 520rpx;
    height: 90rpx;
    line-height: 90rpx;
    border-radius: 90rpx;
    border: none;
    outline: none;
    background: linear-gradient(to right,#75D672,#14BF6D);
    color: #ffffff;
    margin-top: 98rpx;
  }
  .nav{
    background: linear-gradient(to right,#FFC000,#FF8A00);
    margin-top: 42rpx;
  }