body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1561px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:463px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7708 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:312px;
  width:494px;
  height:463px;
}
#u7708_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7709 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:370px;
  width:385px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7709_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u7710 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:475px;
  width:291px;
  height:32px;
}
#u7710_input {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u7711 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:528px;
  width:139px;
  height:32px;
}
#u7711_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7712 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:478px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7712_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7713 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:677px;
  width:140px;
  height:34px;
}
#u7713_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u7714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7714 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:531px;
  width:121px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u7714_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u7715 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:526px;
  width:124px;
  height:34px;
}
#u7715_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u7716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:53px;
}
#u7716 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:206px;
  width:300px;
  height:53px;
}
#u7716_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u7717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:53px;
}
#u7717 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:206px;
  width:300px;
  height:53px;
}
#u7717_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u7718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:53px;
}
#u7718 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:206px;
  width:300px;
  height:53px;
}
#u7718_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  word-wrap:break-word;
}
#u7719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7719 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:734px;
  width:122px;
  height:20px;
}
#u7719_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  white-space:nowrap;
}
#u7721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:65px;
  background:inherit;
  background-color:rgba(51, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7721 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:32px;
  width:1500px;
  height:65px;
}
#u7721_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u7722 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:48px;
  width:281px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u7722_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u7723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:63px;
  background:inherit;
  background-color:rgba(51, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7723 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:1648px;
  width:1500px;
  height:63px;
}
#u7723_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7724 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:1670px;
  width:540px;
  height:16px;
  color:#FFFFFF;
}
#u7724_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  word-wrap:break-word;
}
