.context{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #f4f4f4;
    overflow: scroll;
    -webkit-overflow-scrolling:touch;
  }
  .container{
    width: 100%;
    
    background: transparent;
    padding: 120rpx 0 150rpx 0;
    // position: absolute;
    // top: 0;
    // left: 0; 
  }
  .flex{
    display: flex;
    align-items: center;      //垂直居中
    justify-content: center;  //水平居中
  }
  .energy{
    height: 120rpx;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    color: #fff;
    font-size: 34rpx;
    background: linear-gradient(to right,#75D672,#14BF6D);
    img{
      width: 40rpx;
      height: 40rpx;
      margin: 0 20rpx;
      vertical-align: middle;
    }
    .time{
      width: 49%;
    }
    .line{
      height: 50rpx;
      width: 1px;
      background: #fff;
    }
    .content{
      width: 49%;
    }
  }
  .btn{
    width: 520rpx;
    height: 90rpx;
    line-height: 90rpx;
    border-radius: 90rpx;
    border: none;
    outline: none;
    background: linear-gradient(to right,#75D672,#14BF6D);
    color: #ffffff;
    position: fixed;
    bottom: 40rpx;
    left: 50%;
    margin-left: -260rpx;
  }
  .border10{
    border-bottom: 10rpx solid #f4f4f4;
    background: #fff;
  }
  .weui-cells:before {
    top: 0;
    border-top: none;
  }
  .weui-cells:after {
    top: 0;
    border-bottom: none;
  }
  .weui-cell:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: none;
    color: #d9d9d9;
    left: 15px;
  }
  .bd{
    width: 50%;
    font-size: 32rpx;
    color: #999;
    text-align: center;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }
  .ft{
    width: 50%;
    text-align: center;
    font-size: 32rpx;
    color: #333333;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }
  .empty{
    width: 374rpx;
    height: 360rpx;
    font-size: 34rpx;
    color: #777;
    text-align:center;
    position: relative;
    margin: 0 auto;
    padding-bottom: 30rpx;
    img{
      width: 374rpx;
      height: 288rpx;
    }
  }