body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1014px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6659 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:100px;
  width:375px;
  height:667px;
}
#u6659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:517px;
  height:174px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  line-height:28px;
}
#u6660 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:100px;
  width:517px;
  height:174px;
  line-height:28px;
}
#u6660_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:497px;
  word-wrap:break-word;
}
#u6661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6661 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:252px;
  width:199px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u6662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
  line-height:28px;
}
#u6662 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:335px;
  width:321px;
  height:119px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
  line-height:28px;
}
#u6662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  word-wrap:break-word;
}
#u6663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:64px;
}
#u6663 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:162px;
  width:61px;
  height:64px;
}
#u6663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:117px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6664 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:464px;
  width:300px;
  height:117px;
}
#u6664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u6665 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:483px;
  width:122px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u6665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u6666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u6666 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:541px;
  width:153px;
  height:40px;
  color:#169BD5;
}
#u6666_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:149px;
  word-wrap:break-word;
}
#u6667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#169BD5;
}
#u6667 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:541px;
  width:153px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#169BD5;
}
#u6667_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:149px;
  word-wrap:break-word;
}
