.index{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #f4f4f4;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .container{
    padding: 10rpx 0 40rpx 0;
  
  }
  .record{
  
  }
  .cell{
    background: #ffffff;
    padding: 30rpx 24rpx;
    position: relative;
    .title{
      color: #999999;
      font-size: 30rpx;
      padding-bottom: 10rpx;
    }
    .subTitle{
      color: #333333;
      font-size: 34rpx;
    }
    .underLine{
      width: 96%;
      height: 2rpx;
      background: #f4f4f4;
      position: absolute;
      right: 0;
      bottom: 0;
    }
    img{
      position: absolute;
      right: 24rpx;
      top: 50%;
      height: 26rpx;
      width: 15rpx;
      margin-top: -13rpx;
    }
  }
  .btn{
    width: 520rpx;
    height: 90rpx;
    line-height: 90rpx;
    border-radius: 90rpx;
    border: none;
    outline: none;
    background: linear-gradient(to right,#75D672,#14BF6D);
    color: #ffffff;
    margin-top: 98rpx;
  }
  .nav{
    background: linear-gradient(to right,#FFC000,#FF8A00);
    margin-top: 42rpx;
  }