body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1241px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:1021px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:42px;
  width:518px;
  height:1021px;
}
#u893_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:2px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:924px;
  width:433px;
  height:1px;
}
#u894_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:775px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:151px;
  width:1px;
  height:774px;
}
#u895_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:775px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:151px;
  width:1px;
  height:774px;
}
#u896_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:774px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:151px;
  width:433px;
  height:774px;
}
#u897_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:60px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:160px;
  width:420px;
  height:60px;
}
#u898_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:185px;
  width:108px;
  height:34px;
}
#u899_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:196px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u900_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:2px;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:234px;
  width:433px;
  height:1px;
}
#u901_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:73px;
  background:inherit;
  background-color:rgba(102, 204, 51, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:235px;
  width:431px;
  height:73px;
}
#u903_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:253px;
  width:113px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u904_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:346px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u905_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 153, 0, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:532px;
  width:161px;
  height:46px;
  font-size:20px;
  color:#FFFFFF;
}
#u906_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:157px;
  word-wrap:break-word;
}
#u907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:421px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u907_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:469px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u908_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:463px;
  width:158px;
  height:32px;
}
#u909_input {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:461px;
  width:114px;
  height:34px;
}
#u910_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:414px;
  width:282px;
  height:32px;
}
#u911_input {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:32px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:463px;
  width:104px;
  height:32px;
}
#u912_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  word-wrap:break-word;
}
#u913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:70px;
  height:19px;
}
#u913p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:66px;
  height:6px;
}
#u913p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:6px;
}
#u913p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:4px;
  height:4px;
}
#u913p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u913p002 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u913p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:479px;
  width:61px;
  height:1px;
}
#u913_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:258px;
  background:inherit;
  background-color:rgba(255, 102, 0, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:122px;
  width:526px;
  height:258px;
}
#u914_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  word-wrap:break-word;
}
#u915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:2px;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:308px;
  width:433px;
  height:1px;
}
#u915_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 128, 0, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#008000;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:824px;
  width:174px;
  height:50px;
  font-size:18px;
  color:#008000;
}
#u916_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:170px;
  word-wrap:break-word;
}
