body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1561px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:65px;
  background:inherit;
  background-color:rgba(51, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8460 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:32px;
  width:1500px;
  height:65px;
}
#u8460_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u8461 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:48px;
  width:281px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u8461_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u8462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u8462 {
  border-width:0px;
  position:absolute;
  left:1300px;
  top:55px;
  width:158px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u8462_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u8463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:27px;
}
#u8463 {
  border-width:0px;
  position:absolute;
  left:1270px;
  top:50px;
  width:23px;
  height:26px;
}
#u8463_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8464 {
  border-width:0px;
  position:absolute;
  left:1258px;
  top:32px;
  width:218px;
  height:65px;
}
#u8464_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u8465 {
  border-width:0px;
  position:absolute;
  left:1486px;
  top:55px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u8465_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u8466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:63px;
  background:inherit;
  background-color:rgba(51, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8466 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:1648px;
  width:1500px;
  height:63px;
}
#u8466_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8467 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:1670px;
  width:540px;
  height:16px;
  color:#FFFFFF;
}
#u8467_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  word-wrap:break-word;
}
#u8468 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:209px;
  width:171px;
  height:456px;
}
#u8468_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:456px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8469 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:3px;
  width:165px;
  height:450px;
}
#u8470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u8470 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u8470_img.mouseDown {
}
#u8470.mouseDown {
}
#u8470_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u8471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u8471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:165px;
  height:30px;
}
#u8471_img.mouseDown {
}
#u8471.mouseDown {
}
#u8471_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u8472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u8472 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:165px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u8472_img.mouseDown {
}
#u8472.mouseDown {
}
#u8472_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u8473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u8473 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:165px;
  height:30px;
}
#u8473_img.mouseDown {
}
#u8473.mouseDown {
}
#u8473_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u8474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u8474 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:165px;
  height:30px;
}
#u8474_img.mouseDown {
}
#u8474.mouseDown {
}
#u8474_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u8475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u8475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:165px;
  height:30px;
}
#u8475_img.mouseDown {
}
#u8475.mouseDown {
}
#u8475_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u8476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u8476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:165px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u8476_img.mouseDown {
}
#u8476.mouseDown {
}
#u8476_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u8477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u8477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:165px;
  height:30px;
}
#u8477_img.mouseDown {
}
#u8477.mouseDown {
}
#u8477_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u8478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u8478 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:165px;
  height:30px;
}
#u8478_img.mouseDown {
}
#u8478.mouseDown {
}
#u8478_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u8479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u8479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:165px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u8479_img.mouseDown {
}
#u8479.mouseDown {
}
#u8479_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u8480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u8480 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:165px;
  height:30px;
}
#u8480_img.mouseDown {
}
#u8480.mouseDown {
}
#u8480_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u8481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u8481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:330px;
  width:165px;
  height:30px;
}
#u8481_img.mouseDown {
}
#u8481.mouseDown {
}
#u8481_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u8482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u8482 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:165px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u8482_img.mouseDown {
}
#u8482.mouseDown {
}
#u8482_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u8483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u8483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:390px;
  width:165px;
  height:30px;
}
#u8483_img.mouseDown {
}
#u8483.mouseDown {
}
#u8483_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u8484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
}
#u8484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:420px;
  width:165px;
  height:30px;
}
#u8484_img.mouseDown {
}
#u8484.mouseDown {
}
#u8484_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  word-wrap:break-word;
}
#u8485 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:32px;
  width:322px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8486 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8487 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:242px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8487_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u8488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:102px;
}
#u8488 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:387px;
  width:107px;
  height:102px;
}
#u8488_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8489 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:308px;
  width:113px;
  height:19px;
  font-size:16px;
}
#u8489_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u8490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8490 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:560px;
  width:186px;
  height:19px;
  font-size:16px;
}
#u8490_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u8491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8491 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:387px;
  width:145px;
  height:19px;
  font-size:16px;
}
#u8491_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u8492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8492 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:501px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u8492_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:102px;
}
#u8493 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:560px;
  width:107px;
  height:102px;
}
#u8493_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:103px;
  word-wrap:break-word;
}
#u8494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8494 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:530px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u8494_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u8495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8495 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:348px;
  width:145px;
  height:19px;
  font-size:16px;
}
#u8495_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u8496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8496 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:679px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u8496_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u8497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8497 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:716px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u8497_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8498 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:755px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u8498_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u8499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8499 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:308px;
  width:98px;
  height:19px;
  font-size:16px;
}
#u8499_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u8500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8500 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:500px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u8500_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u8501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8501 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:530px;
  width:109px;
  height:19px;
  font-size:16px;
}
#u8501_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u8502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8502 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:348px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u8502_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u8503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8503 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:679px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u8503_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8504 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:716px;
  width:91px;
  height:19px;
  font-size:16px;
}
#u8504_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u8505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8505 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:755px;
  width:161px;
  height:19px;
  font-size:16px;
}
#u8505_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u8506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:102px;
}
#u8506 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:560px;
  width:107px;
  height:102px;
}
#u8506_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:43px;
  width:103px;
  word-wrap:break-word;
}
