body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2362px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:813px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 102, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9055 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:108px;
  width:813px;
  height:16px;
}
#u9055_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:813px;
  white-space:nowrap;
}
#u9056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:2354px;
}
#u9056 {
  border-width:0px;
  position:absolute;
  left:1381px;
  top:197px;
  width:1px;
  height:2353px;
}
#u9056_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9057 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:243px;
  width:145px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9057_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u9058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9058 {
  border-width:0px;
  position:absolute;
  left:2199px;
  top:243px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9058_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u9059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u9059 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:309px;
  width:50px;
  height:80px;
}
#u9059_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  word-wrap:break-word;
}
#u9060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9060 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:507px;
  width:229px;
  height:61px;
  font-size:18px;
}
#u9060_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:225px;
  word-wrap:break-word;
}
#u9061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9061 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:665px;
  width:229px;
  height:61px;
  font-size:18px;
}
#u9061_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:225px;
  word-wrap:break-word;
}
#u9062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9062 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:804px;
  width:229px;
  height:61px;
  font-size:18px;
}
#u9062_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:225px;
  word-wrap:break-word;
}
#u9063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9063 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:1610px;
  width:229px;
  height:61px;
  font-size:18px;
}
#u9063_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:225px;
  word-wrap:break-word;
}
#u9064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9064 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:1884px;
  width:229px;
  height:61px;
  font-size:18px;
}
#u9064_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:225px;
  word-wrap:break-word;
}
#u9065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9065 {
  border-width:0px;
  position:absolute;
  left:2133px;
  top:507px;
  width:229px;
  height:61px;
  font-size:18px;
}
#u9065_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:225px;
  word-wrap:break-word;
}
#u9066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9066 {
  border-width:0px;
  position:absolute;
  left:2133px;
  top:318px;
  width:229px;
  height:61px;
  font-size:18px;
}
#u9066_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:225px;
  word-wrap:break-word;
}
#u9067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:61px;
}
#u9067 {
  border-width:0px;
  position:absolute;
  left:2133px;
  top:974px;
  width:229px;
  height:61px;
  font-size:18px;
}
#u9067_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:225px;
  word-wrap:break-word;
}
#u9068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:61px;
}
#u9068 {
  border-width:0px;
  position:absolute;
  left:2133px;
  top:1152px;
  width:229px;
  height:61px;
  font-size:18px;
}
#u9068_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:225px;
  word-wrap:break-word;
}
#u9069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9069 {
  border-width:0px;
  position:absolute;
  left:1421px;
  top:1152px;
  width:229px;
  height:61px;
  font-size:18px;
}
#u9069_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:225px;
  word-wrap:break-word;
}
#u9070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9070 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:974px;
  width:229px;
  height:61px;
  font-size:18px;
}
#u9070_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:225px;
  word-wrap:break-word;
}
#u9071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:61px;
}
#u9071 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:1152px;
  width:100px;
  height:61px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u9071_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u9072 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:389px;
  width:0px;
  height:0px;
}
#u9072_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:122px;
}
#u9072_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:105px;
  width:20px;
  height:20px;
}
#u9072_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:51px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9073 {
  border-width:0px;
  position:absolute;
  left:2133px;
  top:538px;
  width:0px;
  height:0px;
}
#u9073_seg0 {
  border-width:0px;
  position:absolute;
  left:-979px;
  top:-4px;
  width:983px;
  height:8px;
}
#u9073_seg1 {
  border-width:0px;
  position:absolute;
  left:-986px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9073_text {
  border-width:0px;
  position:absolute;
  left:-540px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9074 {
  border-width:0px;
  position:absolute;
  left:2133px;
  top:349px;
  width:0px;
  height:0px;
}
#u9074_seg0 {
  border-width:0px;
  position:absolute;
  left:-1068px;
  top:-4px;
  width:1072px;
  height:8px;
}
#u9074_seg1 {
  border-width:0px;
  position:absolute;
  left:-1075px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9074_text {
  border-width:0px;
  position:absolute;
  left:-584px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9075 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:568px;
  width:0px;
  height:0px;
}
#u9075_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:101px;
}
#u9075_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:84px;
  width:20px;
  height:20px;
}
#u9075_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9076 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:726px;
  width:0px;
  height:0px;
}
#u9076_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:82px;
}
#u9076_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:65px;
  width:20px;
  height:20px;
}
#u9076_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:31px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9077 {
  border-width:0px;
  position:absolute;
  left:1154px;
  top:835px;
  width:0px;
  height:0px;
}
#u9077_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:1098px;
  height:8px;
}
#u9077_seg1 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:-4px;
  width:8px;
  height:143px;
}
#u9077_seg2 {
  border-width:0px;
  position:absolute;
  left:1084px;
  top:126px;
  width:20px;
  height:20px;
}
#u9077_text {
  border-width:0px;
  position:absolute;
  left:566px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9078 {
  border-width:0px;
  position:absolute;
  left:2133px;
  top:1005px;
  width:0px;
  height:0px;
}
#u9078_seg0 {
  border-width:0px;
  position:absolute;
  left:-1337px;
  top:-4px;
  width:1341px;
  height:8px;
}
#u9078_seg1 {
  border-width:0px;
  position:absolute;
  left:-1344px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9078_text {
  border-width:0px;
  position:absolute;
  left:-718px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9079 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:974px;
  width:0px;
  height:0px;
}
#u9079_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-440px;
  width:8px;
  height:440px;
}
#u9079_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-440px;
  width:247px;
  height:8px;
}
#u9079_seg2 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:-446px;
  width:20px;
  height:20px;
}
#u9079_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-348px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9080 {
  border-width:0px;
  position:absolute;
  left:2248px;
  top:1035px;
  width:0px;
  height:0px;
}
#u9080_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:121px;
}
#u9080_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:104px;
  width:20px;
  height:20px;
}
#u9080_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9081 {
  border-width:0px;
  position:absolute;
  left:1421px;
  top:1183px;
  width:0px;
  height:0px;
}
#u9081_seg0 {
  border-width:0px;
  position:absolute;
  left:-625px;
  top:-4px;
  width:629px;
  height:8px;
}
#u9081_seg1 {
  border-width:0px;
  position:absolute;
  left:-632px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9081_text {
  border-width:0px;
  position:absolute;
  left:-362px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9082_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9082 {
  border-width:0px;
  position:absolute;
  left:1421px;
  top:1322px;
  width:229px;
  height:61px;
  font-size:18px;
}
#u9082_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:225px;
  word-wrap:break-word;
}
#u9083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9083 {
  border-width:0px;
  position:absolute;
  left:1421px;
  top:1462px;
  width:229px;
  height:61px;
  font-size:18px;
}
#u9083_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:225px;
  word-wrap:break-word;
}
#u9084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:61px;
}
#u9084 {
  border-width:0px;
  position:absolute;
  left:1753px;
  top:1322px;
  width:229px;
  height:61px;
  font-size:18px;
}
#u9084_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:225px;
  word-wrap:break-word;
}
#u9085_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9085 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:1152px;
  width:229px;
  height:61px;
  font-size:18px;
}
#u9085_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:225px;
  word-wrap:break-word;
}
#u9086 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:1183px;
  width:0px;
  height:0px;
}
#u9086_seg0 {
  border-width:0px;
  position:absolute;
  left:-289px;
  top:-4px;
  width:293px;
  height:8px;
}
#u9086_seg1 {
  border-width:0px;
  position:absolute;
  left:-296px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9086_text {
  border-width:0px;
  position:absolute;
  left:-194px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9087 {
  border-width:0px;
  position:absolute;
  left:2248px;
  top:1213px;
  width:0px;
  height:0px;
}
#u9087_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:144px;
}
#u9087_seg1 {
  border-width:0px;
  position:absolute;
  left:-266px;
  top:136px;
  width:270px;
  height:8px;
}
#u9087_seg2 {
  border-width:0px;
  position:absolute;
  left:-273px;
  top:130px;
  width:20px;
  height:20px;
}
#u9087_text {
  border-width:0px;
  position:absolute;
  left:-113px;
  top:132px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9088 {
  border-width:0px;
  position:absolute;
  left:2133px;
  top:1183px;
  width:0px;
  height:0px;
}
#u9088_seg0 {
  border-width:0px;
  position:absolute;
  left:-483px;
  top:-4px;
  width:487px;
  height:8px;
}
#u9088_seg1 {
  border-width:0px;
  position:absolute;
  left:-490px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9088_text {
  border-width:0px;
  position:absolute;
  left:-292px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9089 {
  border-width:0px;
  position:absolute;
  left:1753px;
  top:1353px;
  width:0px;
  height:0px;
}
#u9089_seg0 {
  border-width:0px;
  position:absolute;
  left:-103px;
  top:-4px;
  width:107px;
  height:8px;
}
#u9089_seg1 {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9089_text {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9090 {
  border-width:0px;
  position:absolute;
  left:1868px;
  top:1383px;
  width:0px;
  height:0px;
}
#u9090_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:114px;
}
#u9090_seg1 {
  border-width:0px;
  position:absolute;
  left:-218px;
  top:106px;
  width:222px;
  height:8px;
}
#u9090_seg2 {
  border-width:0px;
  position:absolute;
  left:-225px;
  top:100px;
  width:20px;
  height:20px;
}
#u9090_text {
  border-width:0px;
  position:absolute;
  left:-104px;
  top:102px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9091 {
  border-width:0px;
  position:absolute;
  left:1421px;
  top:1353px;
  width:0px;
  height:0px;
}
#u9091_seg0 {
  border-width:0px;
  position:absolute;
  left:-385px;
  top:-4px;
  width:385px;
  height:8px;
}
#u9091_seg1 {
  border-width:0px;
  position:absolute;
  left:-385px;
  top:-4px;
  width:8px;
  height:261px;
}
#u9091_seg2 {
  border-width:0px;
  position:absolute;
  left:-391px;
  top:244px;
  width:20px;
  height:20px;
}
#u9091_text {
  border-width:0px;
  position:absolute;
  left:-369px;
  top:-48px;
  width:100px;
  word-wrap:break-word;
}
#u9092 {
  border-width:0px;
  position:absolute;
  left:1421px;
  top:1493px;
  width:0px;
  height:0px;
}
#u9092_seg0 {
  border-width:0px;
  position:absolute;
  left:-385px;
  top:-4px;
  width:385px;
  height:8px;
}
#u9092_seg1 {
  border-width:0px;
  position:absolute;
  left:-385px;
  top:-4px;
  width:8px;
  height:121px;
}
#u9092_seg2 {
  border-width:0px;
  position:absolute;
  left:-391px;
  top:104px;
  width:20px;
  height:20px;
}
#u9092_text {
  border-width:0px;
  position:absolute;
  left:-299px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9093 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:2110px;
  width:229px;
  height:61px;
  font-size:18px;
}
#u9093_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:225px;
  word-wrap:break-word;
}
#u9094 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:1671px;
  width:0px;
  height:0px;
}
#u9094_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:217px;
}
#u9094_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:200px;
  width:20px;
  height:20px;
}
#u9094_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:98px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9095 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:1945px;
  width:0px;
  height:0px;
}
#u9095_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:169px;
}
#u9095_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:152px;
  width:20px;
  height:20px;
}
#u9095_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:74px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u9096 {
  border-width:0px;
  position:absolute;
  left:2133px;
  top:1884px;
  width:229px;
  height:61px;
  font-size:18px;
}
#u9096_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:225px;
  word-wrap:break-word;
}
#u9097 {
  border-width:0px;
  position:absolute;
  left:2133px;
  top:1915px;
  width:0px;
  height:0px;
}
#u9097_seg0 {
  border-width:0px;
  position:absolute;
  left:-979px;
  top:-4px;
  width:983px;
  height:8px;
}
#u9097_seg1 {
  border-width:0px;
  position:absolute;
  left:-986px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9097_text {
  border-width:0px;
  position:absolute;
  left:-540px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:61px;
}
#u9098 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:2352px;
  width:100px;
  height:61px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u9098_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u9099 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:2171px;
  width:0px;
  height:0px;
}
#u9099_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:185px;
}
#u9099_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:168px;
  width:20px;
  height:20px;
}
#u9099_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:82px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
