.container{
    width: 100%;
    height: 100%;
    background: #f4f4f4;
    position: absolute;
    overflow: scroll;
  }
  .section{
    padding-top: 20rpx;
  }
  .record{
    width: 100%;
    display: flex;
    border-bottom: 1px solid #E5E5E5;
    background: #ffffff;
    .hd{
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 30rpx;
    }
    .fd{
      display: flex;
      flex-direction: column;
      text-align: right;
      width: 50%;
      padding: 30rpx; 
    }
    .top{
      font-size: 34rpx;
      color: #333333;
      margin-bottom: 30rpx;
    }
    .down{
      font-size: 24rpx;
      color: #666666;
    }
  }
  .record:last-child{
    border-bottom: none;
  }
  .weui-loadmore__tips_in-line {
    top:-1em;
    background: transparent;
  }
  .footer{
    margin-top: 90rpx;
    .loadmore{
      position: relative;
      .tips{
        // width: 50%;
        text-align: center;
        margin: 0 auto;
        font-size: 22rpx;
        color: #888888;
      }
      .line{
        width: 100rpx;
        height: 2rpx;
        background: #C7C7C7;  
        position: absolute;
        top: 50%;
      }
      .pl{
        left: 80rpx;
      }
      .pr{
        right: 80rpx;
      }
    }
  }